on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  test_job:
    name: My first job
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v2
    
    - name: get plugins list from plugins yaml
      run: |
        PLUGINS=$(yq eval .plugins plugins.yaml)
        for plugin in $PLUGINS
        do
            gh workflow run LeiZhaoGFT/dynamic-jobs/.github/workflows/plugin_template.yaml@main -f plugin_type=$plugin
        done
      shell: bash
