on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  test_job:
    name: My first job
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v2
      
    - name: list direcotry contents
      run: ls -al
      
    - name: authenticate with GH
      run: echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
    
    - name: get plugins list from plugins yaml
      run: |
        echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
        PLUGINS=$(yq eval .plugins plugins.yaml)
        cd .github/workflows/
        for plugin in $PLUGINS
        do
            echo $plugin
            gh workflow run plugin_template.yaml -f plugin_type=$plugin
        done
      shell: bash
