name: main

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  test_job:
    name: My first job
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v2
      
    - name: list direcotry contents
      run: ls -al
    
    - name: get plugins list from plugins yaml
      run: |
        
        echo "PLUGINS=$(yq eval .plugins plugins.yaml)" >> $GITHUB_ENV
      shell: bash
  
  call_workflow:
    uses: LeiZhaoGFT/dynamic-jobs/.github/workflows/plugin_template.yaml@main
    with:
      plugin_type: ${{ env.PLUGINS }}
    

